/*
* aki
* 202401032346
*/















































/********************************************************************
*********************************************************************
 Menu

        :::   :::       ::::::::::       ::::    :::      :::    :::
      :+:+: :+:+:      :+:              :+:+:   :+:      :+:    :+:
    +:+ +:+:+ +:+     +:+              :+:+:+  +:+      +:+    +:+
   +#+  +:+  +#+     +#++:++#         +#+ +:+ +#+      +#+    +:+
  +#+       +#+     +#+              +#+  +#+#+#      +#+    +#+
 #+#       #+#     #+#              #+#   #+#+#      #+#    #+#
###       ###     ##########       ###    ####       ########

*********************************************************************
*********************************************************************/
#all類{position: fixed;top: 0;bottom: 0;left: -50px;overflow-y: scroll;overflow-x: hidden;}

#accordionSidebar{z-index: 3;
  /* 下拉變色 */
  background-color:var(--網色1號);
  background-image:linear-gradient(180deg,var(--網色1號) 10%,var(--左Menu下色) 100%);
  background-size:cover
}



#低導航{position: fixed;
  z-index: 2;
  bottom: -30px;
  left: 0;right: 0;
}
footer{margin-bottom: 30px;background: var(--全透明);}
/* /Menu*/

































/********************************************************************************************************** 
***********************************************************************************************************
all產品

          :::        :::        :::             :::::::::::   :::::::::::           :::          :::   :::
       :+: :+:      :+:        :+:                 :+:           :+:             :+: :+:       :+:+: :+:+:
     +:+   +:+     +:+        +:+                 +:+           +:+            +:+   +:+     +:+ +:+:+ +:+
   +#++:++#++:    +#+        +#+                 +#+           +#+           +#++:++#++:    +#+  +:+  +#+
  +#+     +#+    +#+        +#+                 +#+           +#+           +#+     +#+    +#+       +#+
 #+#     #+#    #+#        #+#                 #+#           #+#           #+#     #+#    #+#       #+#
###     ###    ########## ##########      ###########       ###           ###     ###    ###       ###

***********************************************************************************************************
***********************************************************************************************************/

/*.nav-item  {background-image: url('NoIMG.jpg');
  background-repeat: no-repeat, repeat;
  background-size: contain;
  background-position:50% 0%;}
  */

#all產品{z-index: 0;}





.產品鍵{border: 2px solid var(--網色1號);
  border-radius: 5px;margin:1% ;padding: 0%;
  float: left;
  height: var(--產品鍵圖尺寸高); 
  max-width:var(--產品鍵圖尺寸橫max);width: var(--產品鍵圖尺寸橫);
  position: relative;overflow: hidden;
  }

.產品鍵 img/*,.類名 img*/{
  width: 100%;height: auto;
  opacity: 1;}

.產品鍵 h5{
  color: var(--網字色1號);
  /*
  mix-blend-mode: difference;
  神奇的 CSS，让文字智能适配背景颜色 https://www.cnblogs.com/coco1s/p/16012545.html
  */
  background: linear-gradient(to right , var(--網色1號) ,  var(--全透明));
  width: 100%;text-align: left;padding: 0 5%;
  font-weight: 900;font-size: 140%;
  position: absolute;top: 0;left: 0;
}

.產品鍵 p{color: var(--網色1號);
  background: linear-gradient(to right, var(--全透明) ,var(--網字色1號));
  width: 100%;text-align: right;padding: 0 5%;
  font-weight: 500;font-size: 140%;
  position: absolute;bottom: -16px;right: 0;}







#購買流程 samp{color: var(--網色1號);font-size: 140%;
  text-align: right;}

button{background: var(--全透明);}

#已點產品{background: rgba(0, 0, 0, 0.8);
  width: calc(80vw);position:fixed;
  bottom: 70px;top: 50px;
  overflow-y: scroll;overflow-x: hidden;}


#已點產品數{display: none;
  animation: 闪1烁 1s infinite;
  /*https://juejin.cn/s/css%E4%B8%80%E9%97%AA%E4%B8%80%E9%97%AA%E6%95%88%E6%9E%9C*/
}
.fa-shopping-cart:hover ~ #已點產品數,#已點產品數:hover{animation: none;}















/* ********************************************************************************************************
***********************************************************************************************************
購買流程

      :::::::::      :::    :::   :::::::::::        ::::::::::       :::        ::::::::     :::       :::
     :+:    :+:     :+:    :+:       :+:            :+:              :+:       :+:    :+:    :+:       :+:
    +:+    +:+     +:+    +:+       +:+            +:+              +:+       +:+    +:+    +:+       +:+
   +#++:++#+      +#+    +:+       +#+            :#::+::#         +#+       +#+    +:+    +#+  +:+  +#+
  +#+    +#+     +#+    +#+       +#+            +#+              +#+       +#+    +#+    +#+ +#+#+ +#+
 #+#    #+#     #+#    #+#       #+#            #+#              #+#       #+#    #+#     #+#+# #+#+#
#########       ########        ###            ###              ########## ########       ###   ###

***********************************************************************************************************
***********************************************************************************************************/
#購買流程{display: none;
  background: rgba(0, 0, 0, 0.4);
    z-index: 99;
    position:fixed;
    height: 100%;
    top: 0;left: 0;bottom: 0;right: 0;
    overflow-y: scroll;overflow-x: hidden;
}

/* 6楼  如果您可以设置内容的环绕div的高度
https://blog.csdn.net/p15097962069/article/details/103506957 */
#購買流程::before{
  display:inline-block;
  content:'';
  height:100%;
  vertical-align:bottom;
}

#購買流程 .row{display:inline-block;
  width: 100%;
  padding: 10%;background: var(--全透明);
  mix-blend-mode: difference;font-weight: 1900;
  border: none;word-break: break-all;
}





#購買流程 h2{padding: 10%;text-align: center;color: var(--網色1號);}
#購買流程 a{color: var(--網字色1號);}
#購買流程 .no了{color: var(--網字色2號);}
#購買流程 .Price{color: var(--網字色1號);}

#本單加總金{text-align: right;padding: 2%;border-radius: 5px;
  
  background: linear-gradient(to right, var(--全透明) , var(--網字色1號));
  }
#本單加總金 span{color: var(--網色1號);
  font-weight: 1500;font-size: 200%;}

#清空購物車{display: none;}




























/* ***************************************************************************************************************************
******************************************************************************************************************************
美化 

      :::::::::       ::::::::::           :::       :::    :::   :::::::::::       :::::::::::       ::::::::::    :::   :::
     :+:    :+:      :+:                :+: :+:     :+:    :+:       :+:               :+:           :+:           :+:   :+:
    +:+    +:+      +:+               +:+   +:+    +:+    +:+       +:+               +:+           +:+            +:+ +:+
   +#++:++#+       +#++:++#         +#++:++#++:   +#+    +:+       +#+               +#+           :#::+::#        +#++:
  +#+    +#+      +#+              +#+     +#+   +#+    +#+       +#+               +#+           +#+              +#+
 #+#    #+#      #+#              #+#     #+#   #+#    #+#       #+#               #+#           #+#              #+#
#########       ##########       ###     ###    ########        ###           ###########       ###              ###

******************************************************************************************************************************
******************************************************************************************************************************/

/*  label https://blog.csdn.net/lvh98/article/details/126143901 */
span{
  cursor: pointer;
}
label{display: block;height: 50px;width: 100%;
  border: .5px solid var(--網色1號);
  cursor: pointer;
  text-align: center;
  line-height: 50px;
  border-radius: 5px;}
input[type="radio"]{
  display: none;
}

/* 滚动槽 
https://juejin.cn/post/6844903613936959496*/
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 3px;
  background: var(--全透明);
  -webkit-box-shadow: inset 0 0 5px var(--全透明);
  
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: var(--全透明);
  -webkit-box-shadow: inset 0 0 10px var(--全透明);
}






/* 動晝 */
/* 定义闪烁动画效果 */
@keyframes 闪烁 {
  49% {
    opacity: 1;width: auto;height: auto;
  }
  50% {
    opacity: .9;width: 40px;height: 40px;
  }
  60% {
    opacity: .7;width: 120px;height: 120px;
  }
  70% {
    opacity: .5;width: 200px;height: 200px;
  }
  80% {
    opacity: .3;width: 280px;height: 280px;
  }
  90% {
    opacity: .1;width: 360px;height: 360px;
  }
  100% {
    opacity: 0;;width: 400px;height: 400px;right: 30%;
  }
}



































/* ************************************************************
***************************************************************
色統

      :::::::::           :::        ::::::::       ::::::::::
     :+:    :+:        :+: :+:     :+:    :+:      :+:
    +:+    +:+       +:+   +:+    +:+             +:+
   +#++:++#+       +#++:++#++:   +#++:++#++      +#++:++#
  +#+    +#+      +#+     +#+          +#+      +#+
 #+#    #+#      #+#     #+#   #+#    #+#      #+#
#########       ###     ###    ########       ##########

4E73DF
***************************************************************
***************************************************************/

/* CSS 變數的基本語法https://muki.tw/native-css-variables/  */
:root {
  --網色1號: #b2f178;
  --左Menu下色: #ef9cb1;
  --網字色1號: #fff;
  --網字色2號: #5c5c5c;
  --全透明: rgba(0, 0, 0, 0);

  --產品鍵圖尺寸高: 200px;
  --產品鍵圖尺寸高max: 200px;
  --產品鍵圖尺寸橫: 48%;
  --產品鍵圖尺寸橫max: 200px;
}

.導大btn{color: var(--網色1號);}
.主hr{background: var(--網色1號);}


test{color: #45084f}