#settingBox_{
  position: fixed;
  width: 50px;height: 100%;
  top: 0;bottom: 0;right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: left 0.3s;
  
}

#settingBox_.see {left: 0%;width: 100%;}
#user頁.see{filter: blur(5px);}

#settingBox_ h5{font-weight: 900;font-size: min(max(28px, 2vw), 38px);color: #fff;
  position: absolute;
  top: 0;bottom: 0;left: 0;
  width: 50px;
  padding-top: calc(45vh);
  padding-left: 12px;
  background: linear-gradient(to right , rgba(0, 0, 0, 0) ,  rgb(0, 255, 221, .5));

  
}

#settingBox_B{
  background: rgba(226, 0, 0, 0.5);height: auto;
  right: 0;top: 0;bottom: 50px;left: 50px;
  padding: 1%;
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;

}

#settingMenu{list-style:none;position: absolute;bottom: -16px;left: 10px;right: 0;}

#settingMenu li{float: left;width: 20%;
  color: #ffffff;
  display: flex;
  justify-content: center;    
  align-items: center; 
  height: 50px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}






/* 滚动槽 
https://juejin.cn/post/6844903613936959496*/
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 3px;
  background: var(--全透明);
  -webkit-box-shadow: inset 0 0 5px var(--全透明);
  
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: var(--全透明);
  -webkit-box-shadow: inset 0 0 10px var(--全透明);
}
