/*
aki
*/
@charset "UTF-8";
/*https://www.php.cn/css-tutorial-487919.html*/

.logo1 {
	position: relative;
	top: 0px;
	background-image: #fff;
	opacity: .8;
}

.logo1 img{
	position: relative;
	top: -28px;
	width: 100pt;
}

.和獲節扣傻代{
	position: relative;
	width: 100%;
}


.和獲節扣傻代 img{
	position: absolute;
	top: -175px;
	right: -100px;
	height: auto;
	width: 80%;


}

.和獲節扣傻代 h3{
	background: url("../images/K.svg") no-repeat;
	background-size: 25px;
}

/* aki amy 202203   dd1350   07ca96
a{color: #e27b35;}
.addBg {
	background: #e27b35;color: #fff;}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background: #e27b35;}

.amyBG,.navbar-inverse .navbar-toggle {
	background: #e27b35;color: #fff;
}
.topHome:hover{color: #e27b35;}
*/

a{color: #b35415;}
.addBg,.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {background: #b35415;color: #fff;}
.amyBG,.navbar-inverse .navbar-toggle,.topHome:hover {background: #2fa6f5;color: #fff;}
