
.AkiSocial_icons{
	position: relative;
	top: -3px;
	height: 50%;
	width: 50%;

}

.AkiSocial2_icons{
	position: relative;
	top: -6px;
	left: 1px;
	height: 70%;
	width: 50%;

}
.AkiSocial3_icons{
	position: relative;
	top: -6px;
	left: 1px;
	height: 50%;
	width: 50%;

}
.AkiSocial4_icons{
	position: relative;
	top: -5px;

	height: 50%;
	width: 60%;

}
.AkiSocial5_icons{
	position: relative;
	top: -5px;
	left: .5px;

	height: 60%;
	width: 60%;

}

.bannerAKI{
	background-color: black;
	opacity: .8;
}












/*--- HoverTitle 教學片 202112250015 ----*/
.HoverTitle{
	display: block;
	position: absolute;
	bottom: 0px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.42);
	opacity: 0;
	transition: .8s;
	padding: 5%;

}
.HoverTitle p,a{
	color: rgb(22, 21, 21);
}

.HoverTitle a:hover{
	color: rgb(121, 240, 10);
}
.HoverTitle:hover{
	opacity: 1;
	transition: .3s;

}