
.AkiSocial_icons{
	position: relative;
	top: -3px;
	height: 110%;
	width: 110%;

}

.AkiSocial2_icons{
	position: relative;
	top: -6px;
	left: 1px;
	height: 140%;
	width: 100%;

}
.AkiSocial3_icons{
	position: relative;
	top: -6px;
	left: 1px;
	height: 100%;
	width: 100%;

}
.AkiSocial4_icons{
	position: relative;
	top: -5px;

	height: 50%;
	width: 60%;

}
.AkiSocial5_icons{
	position: relative;
	top: -5px;
	left: .5px;

	height: 60%;
	width: 60%;

}

.bannerAKI{
	background-color: rgba(0, 0, 0, 0.886);
	opacity: .8;
}












/*--- HoverTitle 教學片 202112250015 ----*/
.HoverTitle{
	display: block;
	position: absolute;
	bottom: 0px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.42);
	opacity: 0;
	transition: .8s;
	padding: 5%;

}
.HoverTitle h5{
	color: #f3f3f3cc;
}
.HoverTitle p,a{
	color: rgba(200, 188, 243, .8);
	transition: 5s;
}

.HoverTitle a:hover{
	color: rgba(15, 236, 210, 0.8);
	transition: .8s;
}
.HoverTitle:hover{
	opacity: 1;
	transition: .3s;

}