/*--
mokaki 202202141806

set
日历日期备忘录组件响应式网页模板

簡轉 css

--*/


#主頁簡介 p,h1,samp,#inputCngeCssBox p,h1,samp{margin: 5%;}


/* 左今月背 */
.cal1 .clndr .clndr-controls {
	/* color: #ffffff; */
	text-align: center;
	background: #ffffff;
  }

/* 左今月字 */
  .cal1 .clndr .clndr-controls .month {
	text-align: center;
	color:#a9f30a;
  }

/* 左今月歷背 */
  .cal1 .clndr .clndr-table {
	background: #333333;
  }

  
/* 歷中今日 */
.cal1 .clndr .clndr-table tr .day.today.event {
	background-color: rgba(76, 80, 45, 0.455);
}

	/* 歷中今日 圈/字 */
.cal1 .clndr .clndr-table tr .day.today {
	color: #5482AB!important;
	background: #747272;
}

/* 歷中日字 */
.cal1 .clndr .clndr-table tr .day .day-contents {
	color: FFF;
  }















/* aki input Change Css Box */
#inputChangeCssBox {
	background: #222222;
	padding: 5%;
	position: fixed;
	right: 0px; left: 90%;top: 10%;bottom: 0%;
	overflow: scroll;
	opacity: .2;
	transition: 3s;
  }
  #inputChangeCssBox:hover {	
	left: auto;
	opacity: .9;
	transition: .2s;
  }




