body {
  background: #000;
  overflow: hidden;
  font-family: Verdana;
}
body h1 {
  color: #abc;
  position: absolute;
  margin: 0;
  top: 20px;
  right: 20px;
  text-transform: uppercase;
  z-index: 10000;
  text-shadow: 1px 1px 3px #000;
  text-align: right;
}
body ul {
  position: absolute;
  color: #abc;
  text-transform: uppercase;
  z-index: 10000;
  text-shadow: 1px 1px 3px #000;
  font-weight: 600;
  top: 120px;
  right: 20px;
  margin-left: 0;
  padding-left: 0;
  text-align: right;
}
body ul li {
  font-size: 20px;
  list-style-type: none;
  margin: 10px;
  margin-left: 0;
}
body ul li:hover {
  cursor: pointer;
  color: #2980b9;
  text-shadow: 1px 1px 3px #fff;
}
.container {
  position: relative;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  perspective: 750px;
  transform-style: preserve-3d;
}
.container .inner {
  transform-style: preserve-3d;
  transform-origin: 50vw 50vw 0;
}
.container .inner.anim {
  transition: 1s all ease-in-out;
}
.container .sub {
  width: 100vw;
  height: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;


  background-color: rgba(17, 17, 17, 0.155);
  border-top: inset rgb(6, 245, 58);
  border-left: inset rgb(6, 245, 58);

  /*
  border-right: inset rgb(6, 245, 58);
  border-bottom: inset rgb(6, 245, 58);

  border-width: 8px;
  border-radius: -5%;
 
  background-image: url("https://res.cloudinary.com/practicaldev/image/fetch/s--xazBdCOT--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://codinhood.com/static/78e5f34c1ceb1e205cc8cc00b01a7d53/14e05/skybox2.png");
  background-repeat: no-repeat;
  background-size: 400% 300%;
  */
}
.container .sub.front {
  transform: translateZ(-50vw) scale(1.01);
  background-position: 33.333% 50%;

}
.container .sub.left {
  transform: translate3d(-50vw, 0, 0) rotateY(90deg) scale(1.01);
  background-position: 0% 50%;

}
.container .sub.right {
  transform: translate3d(50vw, 0, 0) rotateY(-90deg) scale(1.01);
  background-position: 66.6777% 50%;

}
.container .sub.back {
  transform: translateZ(50vw) rotateY(180deg) scale(1.01);
  background-position: 100% 50%;

}
.container .sub.top {
  transform: translate3d(0, -50vw, 0) rotateX(-90deg);
  background-position: 33.333% 0%;

}
.container .sub.bottom {
  transform: translate3d(0, 50vw, 0) rotateX(90deg);
  background-position: 33.333% 100%;

}


/* web內方 */
.container .smallCube {
  position: absolute;
  width: 25vw;
  height: 25vw;
  top: 40vw;
 /* margin-top: 37.5%;
 transition: .1s ;*/
  margin-left: -12.5vw;
  transform-style: preserve-3d;


}

.container .smallCube .side {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: rgba(0, 0, 0, 0);
}
.container .smallCube .side:hover {
  opacity: 1;
  transition: .1s;
}


.container .smallCube .side iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5%;
}



.container .smallCube .side.front {
  transform: translateZ(12.5vw);
}
.container .smallCube .side.back {
  transform: translateZ(-12.5vw) rotateY(180deg);
}
.container .smallCube .side.right {
  transform: translate3d(12.5vw, 0, 0) rotateY(90deg);
}
.container .smallCube .side.left {
  transform: translate3d(-12.5vw, 0, 0) rotateY(-90deg);
}
.container .smallCube .side.top {
  transform: translate3d(0, -12.5vw, 0) rotateX(90deg);
}
.container .smallCube .side.bottom {
  transform: translate3d(0, 12.5vw, 0) rotateX(-90deg);
}



/* MOKAKI */
.sub {
  /* 背景透明度 */
  opacity: 0.5;
}
.container .smallCube .side {
  /* web內方原透明度 */
  opacity: .5;
}

.container .smallCube {
  /* web內方原左右 */
  left: 35%;
}


