/*
* demo.css
* File include item demo only specific css only
******************************************************************************/

.導大btn{font-size: xx-large;}

#layout-navbar{position: fixed;
  bottom: 0px;
  left: 0;right: 0;
  background-color: rgba(154, 11, 11, 0);
}


